h2{
    color: #ce4b47;
    /* padding-left: 5%; */
    margin-left: 5%;
    text-align:left;
    font-size: xx-large;
}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    /* width: 200px; */
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 100px;
    margin-bottom: 50px;
}

.col-4 img{
    /* width: 200px; */
  margin: 10px;
  position: relative;
  text-align: center;
  max-width:300px;
    max-height:170px;
    width: auto;
    height: auto;
    padding: 5px;

}

.fa {
    color: white;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;
    color: rgb(161, 156, 161);
    font-size: xx-large;
}

p {
    color:white;
    font-size: large;
}

.title::after{
    content: '';
    background-color: rgb(196, 159, 38);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: rgb(152, 199, 193);
    font-size: large;
}